<div id="banner" >
  <%= image_tag("logo.jpg") %>
  
</div>

<div id="product_list" >

  <h1>Product Listing</h1>

  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Category</th>
        <th>Product Name</th>
        <th></th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @audio.each do |audio| %>
        <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" >
          <td><%= audio.productID %></td>
          <td><%= audio.category %></td>
          <td><%= audio.product_name %></td>
          <td></td>
          <td class="list_actions" >
          <%= link_to 'Show', audio %>
          <%= link_to 'Edit', edit_product_path(audio) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p> </p>
</div>

<%= link_to 'Home', root_url %> | 
<%= link_to 'Back', :back %>

