<div id="banner" >
  <%= image_tag("logo.jpg") %>
  
</div>

<div id="product_list" >

  <h1>Product Listing</h1>

  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Category</th>
        <th>Product Name</th>
        <th></th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @computersoffset.each do |computersoffset| %>
        <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" >
          <td><%= computersoffset.productID %></td>
          <td><%= computersoffset.category %></td>
          <td><%= link_to computersoffset.product_name, computersoffset %></td>
          <td class="list_actions" >
          <%= link_to 'Edit', edit_product_path(computersoffset) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p> <%= link_to 'Page 1', :action => "computers" %> </p>
</div>

<%= link_to 'Home', root_url %> | 
<%= link_to 'Back', :back %>

