<div id="banner" >
  <%= image_tag("logo.jpg") %>
  
</div>

<div id="product_list" >

<h1>Product Listing</h1>

<table>
  <thead>
    <tr>
      
      <th>Category</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |category| %>
      <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" >
        
        <td><%= category.category %></td>
        
        <td class="list_actions" >
          <% if category.category=="Audio" %>
           <%= link_to 'Show', :action => "audio" %> 
          <% end %>
          <% if category.category=="Cameras" %>
           <%= link_to 'Show', :action => "cameras" %> 
          <% end %>
          <% if category.category=="Computers and Tablets" %>
           <%= link_to 'Show', :action => "computers" %> 
          <% end %>
          <% if category.category=="WhiteGoods" %>
           <%= link_to 'Show', :action => "whitegoods" %> 
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p> </p>
</div>

<h1>Manage Database</h1>
  <%= link_to 'View Complete Product Listing', :action => "complete" %><br>
  <%= link_to 'New Product', new_product_path %>
  <br>
  <h2>File Upload</h2> <!--File Upload form-->
    <%= form_tag import_products_path, multipart: true do %>
      <p> File to Upload:<%= file_field_tag :file,  :accept => 'text/csv' %></p>
      <%= submit_tag "Import CSV" %>
<% end %>

<!--Comfirmation / Failure popup's-->
<% if flash[:notice] %>
  <script language="JavaScript">
   alert("<%= flash[:notice] %>");
  </script>
<% end %>

