<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @product.productID %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Home', root_url %>

